.pagination {
    padding: 3px;
    cursor: pointer;
}
.selected {
    font-weight: bold;
    font-size: 20px;
}
.show {
    /*display: block;*/
    width: 100px;
    height: 40px;
    margin: 15px;
    background-color: purple;
    color: white;
}
.paginator {
    width: 60%;
    margin: 5px auto;
}
