.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding: 10px;
}
.dialogItems .active a{
    color: gold !important;
}
.dialogItem {
    margin-top: 2px;
    background-color: #252525;
}
.messages {
    padding: 10px;
}
.message {
    width: 400px;
    -ms-word-break: break-all;
    word-break: break-all;
    margin-top: 3px;
    background-color: purple;
}
